<div class="grid-container full">
  <div class="grid-x">
    {{#repeat 25}}
      <div class="cell small-4 medium-3 product">
        <span class="label new">New</span>
        <img class="normal" src="assets/img/products/resist.jpg" alt="Resist!" />
        <img class="hover" src="assets/img/products/resist_2.jpg" alt="Resist!" />
        <span class="label promo">
          $5 set of 2 <i class="fi-shopping-cart"></i>
        </span>
      </div>
    {{/repeat}}
  </div>
  <div class="divider margin-bottom-1"></div>
  <div class="grid-x">
    <div class="cell text-right">
      <a class="button">Shopp all tattoos</a>
    </div>
  </div>
</div>
