<ul class="menu text-uppercase show-for-small-only menu-list">
  <li><a href="#">Shop all</a></li>
  <li><a href="#">What's new</a></li>
  <li><a href="#">Best sellers</a></li>
  <li><a href="#">Accesories</a></li>
  <li><a href="#">Sets</a></li>
  <li><a href="#">Gifts and bundles</a></li>
  <li><a href="#">Scented</a></li>
  <li><a href="#">Stationery</a></li>
  <li><a href="#">Tattly does good</a></li>
  <li><a href="#">Subscription</a></li>
  <li><a href="#">Sale</a></li>
  <li class="divider" />
  <li class="font-bold"><a href="#">Custom Tattly</a></li>
  <li class="divider" />
  <li class="font-bold"><a href="#">Artists</a></li>
  <li class="divider" />
  <li><a href="#">Blog</a></li>
  <li class="divider" />
  <li><a href="#">Wholesale</a></li>
  <li class="divider" />
  <li><a href="#">Events</a></li>
  <li class="divider" />
</ul>
<ul class="vertical menu text-uppercase show-for-medium">
  <li><a href="#">Shop all</a></li>
  <li><a href="#">What's new</a></li>
  <li><a href="#">Best sellers</a></li>
  <li><a href="#">Accesories</a></li>
  <li><a href="#">Sets</a></li>
  <li><a href="#">Gifts and bundles</a></li>
  <li><a href="#">Scented</a></li>
  <li><a href="#">Stationery</a></li>
  <li><a href="#">Tattly does good</a></li>
  <li><a href="#">Subscription</a></li>
  <li><a href="#">Sale</a></li>
  <li class="divider" />
  <li class="font-bold"><a href="#">Custom Tattly</a></li>
  <li class="divider" />
  <li class="font-bold"><a href="#">Artists</a></li>
  <li class="divider" />
  <li><a href="#">Blog</a></li>
  <li class="divider" />
  <li><a href="#">Wholesale</a></li>
  <li class="divider" />
  <li><a href="#">Events</a></li>
  <li class="divider" />
</ul>
